.clinic{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &_card {
    max-width: 580px;
    margin: 0 auto;
    border: 3px solid;
    border-color: #43b1d2;
    padding: 20px;
    margin: 20px;
  }
}
@media (min-width: 320px) and (max-width: 575px) {
  .clinic_card{
    &__logo{
      max-width: 200px;
      margin: 0 auto;
    }
  &__head {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    text-align: center;
  }
  &__title {
    font-family: "Myriad Pro";
    font-size: 28px;
    font-weight: bold;
    line-height: 1px;
  }
  &__name {
    margin: 20px 0 40px 0;
  }
  &__adrress {
    font-family: "Tahoma";
    font-size: 14px;
    color: #43b1d2;
    font-style: italic;
  }
  &__info {
    font-family: "Calibri";
    font-size: 16px;
    margin-bottom: 20px;
  }
  &__number {
    font-family: "Myriad Pro";
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__button {
    font-family: "Myriad Pro";
    font-size: 18px;
    background-color: #37c3a8;
    border: solid;
    border-radius: 5px;
    border-color: #37c3a8;
    color: white;
    padding: 5px 10px;
  }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .clinic_card{
  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__title {
    font-family: "Myriad Pro";
    font-size: 36px;
    font-weight: bold;
    line-height: 1px;
    display: flex;
    flex-direction: column;
    text-align: end;

  }
  &__name {
    margin: 20px 0 40px 0;
  }
  &__adrress {
    font-family: "Tahoma";
    font-size: 14px;
    color: #43b1d2;
    font-style: italic;
  }
  &__info {
    font-family: "Calibri";
    font-size: 16px;
    margin-bottom: 20px;
  }
  &__number {
    font-family: "Myriad Pro";
    font-size: 18px;
    font-weight: bold;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
  }
  &__button {
    font-family: "Myriad Pro";
    font-size: 18px;
    background-color: #37c3a8;
    border: solid;
    border-radius: 5px;
    border-color: #37c3a8;
    color: white;
    padding: 5px 10px;
  }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .clinic_card{
  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__title {
    font-family: "Myriad Pro";
    font-size: 36px;
    font-weight: bold;
    line-height: 1px;
    display: flex;
    flex-direction: column;
    text-align: end;

  }
  &__name {
    margin: 20px 0 40px 0;
  }
  &__adrress {
    font-family: "Tahoma";
    font-size: 14px;
    color: #43b1d2;
    font-style: italic;
  }
  &__info {
    font-family: "Calibri";
    font-size: 16px;
    margin-bottom: 20px;
  }
  &__number {
    font-family: "Myriad Pro";
    font-size: 18px;
    font-weight: bold;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
  }
  &__button {
    font-family: "Myriad Pro";
    font-size: 18px;
    background-color: #37c3a8;
    border: solid;
    border-radius: 5px;
    border-color: #37c3a8;
    color: white;
    padding: 5px 10px;
  }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .clinic_card{
  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__title {
    font-family: "Myriad Pro";
    font-size: 36px;
    font-weight: bold;
    line-height: 1px;
    display: flex;
    flex-direction: column;
    text-align: end;

  }
  &__name {
    margin: 20px 0 40px 0;
  }
  &__adrress {
    font-family: "Tahoma";
    font-size: 14px;
    color: #43b1d2;
    font-style: italic;
  }
  &__info {
    font-family: "Calibri";
    font-size: 16px;
    margin-bottom: 20px;
  }
  &__number {
    font-family: "Myriad Pro";
    font-size: 18px;
    font-weight: bold;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
  }
  &__button {
    font-family: "Myriad Pro";
    font-size: 18px;
    background-color: #37c3a8;
    border: solid;
    border-radius: 5px;
    border-color: #37c3a8;
    color: white;
    padding: 5px 10px;
  }
  }
}

@media (min-width: 1200px) {
  .clinic_card{
  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__title {
    font-family: "Myriad Pro";
    font-size: 36px;
    font-weight: bold;
    line-height: 1px;
    display: flex;
    flex-direction: column;
    text-align: end;

  }
  &__name {
    margin: 20px 0 40px 0;
  }
  &__adrress {
    font-family: "Tahoma";
    font-size: 14px;
    color: #43b1d2;
    font-style: italic;
  }
  &__info {
    font-family: "Calibri";
    font-size: 16px;
    margin-bottom: 20px;
  }
  &__number {
    font-family: "Myriad Pro";
    font-size: 18px;
    font-weight: bold;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
  }
  &__button {
    font-family: "Myriad Pro";
    font-size: 18px;
    background-color: #37c3a8;
    border: solid;
    border-radius: 5px;
    border-color: #37c3a8;
    color: white;
    padding: 5px 10px;
  }
  }
}